body {
background-color:#1c1c1d;
color:white;
font-size:20px;
font-family:sans-serif;
text-align:center;
height:95%;
overflow: hidden;
}
button {
width:388px;
margin:5px 3px 5px 3px;
padding:0px;
border:2px solid #ffffff;
border-radius: 10px;
text-align:left;
color:white;
outline:none;
background:linear-gradient(180deg,rgba(74,91,134,1)0%,rgba(4,9,23,1)35%);
}
button:hover {
cursor:pointer;
background:linear-gradient(180deg,rgba(74,91,134,1)0%,rgba(14,34,87,1)35%);
}
.butIMG{display:inline-block;margin:-0px;border-right:3px solid #ffffff;outline:none;cursor:pointer;}
.butIMG img{width:70px;height:70px;padding:5px 5px 2px 5px;cursor:pointer;}
.butTXT{float:right;text-align:center;width:299px;font-size:28px;margin:22px 0 0 0;cursor:pointer;}
.multiTXT{width:284px;height:80px;line-height:80px;text-align:center;font-size:28px;margin:0;outline:none;float:right;cursor:pointer;}
.multiBUTTON{background:#D3D3D3;width:15px;height:78px;border:1px solid DimGray;line-height:78px;text-align:center;font-size:12px;color:DimGray;margin:0;outline:none;float:right;}
.multiBUTTON:hover{background:#C8C8C8;color:black;}
.multiOPTIONS{width:1px;height:1px;background:transparent;color:white;outline:none;border:0;font-size:28px;display:hidden;}
}
h2{
font-family:sans-serif;
text-shadow: 4px 4px 4px black;
}
h3{
font-family:font2;
font-size:30px;
}
#cacheInfo{
position:absolute;bottom:10px;left:15px;font-size:32px;text-shadow: 4px 4px 4px black;font-weight:bold;display:inline-block;z-index:1;
}
#CacheProgress {
position:fixed;left:0;right:0;top:50;bottom:10px;max-width:100%;max-height:100%;margin:auto;
width:1076px;height:15px;
background-color:#1B3D8F;box-shadow:0 0 0 3px black;
}
#CacheBar {
width:0%;height:100%;background-color:white;
}
.cacheUPDbg {transition:opacity 1000ms;
position:fixed;left:0;right:0;top:0;bottom:0;max-width:100%;max-height:100%;margin:auto;	
width:100%;height:100%;
background-image: url('img/img.jpg');
opacity:1;display:none;z-index:900;
}
.cacheUPD {
position:fixed;left:0%;right:0;top:280px;bottom:0px;max-width:100%;max-height:100%;margin:auto;	
width:1100px;height:400px;
line-height:30px;align-items:left;
font-family:sans-serif;font-size:32px;text-shadow: 4px 4px 4px black;text-align:center;color:white;z-index:901;
}
.notfound {
margin:0;
font-size:150px;
line-height:150px;
font-family: font1;
}